div#topchat-directive
  div.toolbar(style="padding-top:30px;text-align:center;")
    div.button-list
      button.q-button(ng-click="toggleFreeDraw()")
        i.fa.fa-pencil.spaced
        | desenhar
      button.q-button(ng-click="undo()")
        i.fa.fa-undo.spaced
        | desfazer
      button.q-button(ng-click="undo()")
        i.fa.fa-repeat.spaced
        | refazer
  div.topchat-container
    canvas.the-canvas
  
  