doctype html
html(ng-app="TopFriends")
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(charset="UTF-8")
    link(rel="icon", type="image/x-icon", href="/favicon.ico")
    link(rel="icon", type="image/png", href="/icons/128.png")
    title top friends
  body
    .content
      .alert.alert-primary
        | Mudamos de cara, no momento nosso aplicativo só irá suportar o Top Chat, em breve traremos os outros de volta ;)
      nav#top-bar
        div.pull-left.q-menu.q-menu-horizontal(style="width:auto")
          a.q-menu-heading.q-menu-link(href="#/")
            img(src="/icons/48.png")
          ul.q-menu-list
            li.q-menu-item
              a.q-menu-link(href="http://emoticons.topfriends.biz/", target="_blank")
                i.fa.fa-smile-o.spaced
                | emoticons
        div.infos.pull-right
          span(ng-if="user")
            img.picture(ng-src="{{'//graph.facebook.com/' + user.id + '/picture'}}")
            span(ng-bind="user.name")
          if DEV
            button.q-button.button-error.button-xsmall(ng-click="deleteUser()")
              i.fa.fa-trash.spaced
              | DELETE
      .clearfix

      block content

    link(rel="stylesheet", href="/css/main.css")
    script.
      if(!window.localStorage){
        document.write("Você está usando um navegador muito antigo")
      }
    script(src="/js/app.js")
    if !DEV
      script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-37320327-1', 'auto');
        ga('send', 'pageview');
    script.
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '242235712573248',
          xfbml      : true,
          version    : 'v2.3'
        });
        if(window.__facebookInitiaded) {
          window.__facebookInitiaded();
        } else {
          window.__facebookLoaded = true;
        }
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));