body {
}

.thread-user {
  width: 100%;
  margin-bottom: 15px;
  text-align: left;
  padding: 5px;
  height: 75px;
  position: relative;
}

.thread-user-name {
  font-size: 15px;
  font-weight: bold;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 5px;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, .4);
}

.thread-user-image {
  float: left;
  width: 50px;
  height: 50px;
  min-width: 50px;
  max-width: 50px;
  min-height: 50px;
  max-height: 50px;
  background-size: cover;
  margin: 5px;
}

.thread-user-counter {
  text-shadow: 0px 0px 5px rgba(0, 0, 0, .4);
}

.thread-user-info {
  padding-left: 5px;
}

.thread-user-image img {
  width: 50px;
}

.thread-user-table {
  width: 100%;
  background: none;
  table-layout: fixed;
  position: relative;
  z-index: 2;
}

.thread-number {
  position: absolute;
  top: 5px;
  right: 0px;
  font-size: 90px;
  opacity: .3;
  z-index: 0;
  width: 100px;
  height: 75px;
}

.thread-number text {
  fill: white;
}

/** {*/
/*  box-shadow: inset 0px 0px 2px red!important;*/
/*}*/