div.q-u-lg-3-4(ng-init="init()", style="margin: 0 auto;display: block;margin-top: 80px;text-align:center")
  div(ng-if="loading")
    h2(style="text-align:center") Carregando...
  div(ng-if="!loading")
    h4 nosso aplicativo agora está na Play Store
    a.button-xxlarge.q-button.q-button-primary(href="https://play.google.com/store/apps/details?id=li.ues.topfriends", target="_blank", style="margin-top: 20px;") 
      i.fa.fa-download.spaced
      | baixar aplicativo
    //- a.button-xxlarge.q-button(href="https://www.google.com/chrome/browser/desktop/index.html", target="_blank", style="margin-top: 20px;margin-left:15px;") 
    //-   i.fa.fa-download.spaced
    //-   | baixar google chrome
    //- h4 nosso aplicativo agora depende de uma extensão do google chrome
    //- a.button-xxlarge.q-button.q-button-primary(href="https://chrome.google.com/webstore/detail/top-friends/ncmgphifjenjiafflmilknefljfccgnf", target="_blank", style="margin-top: 20px;") 
    //-   i.fa.fa-download.spaced
    //-   | baixar extensão
    //- a.button-xxlarge.q-button(href="https://www.google.com/chrome/browser/desktop/index.html", target="_blank", style="margin-top: 20px;margin-left:15px;") 
    //-   i.fa.fa-download.spaced
    //-   | baixar google chrome

    //- div(style="margin-top: 30px;")
    //-   | assim que você instalar a extensão, acesse o Facebook
    //-   |  e na barra de endereço aparecerá um icone assim
    //-   br
    //-   br
    //-   img(src="/images/ex1.png")
    //-   br
    //-   br
    //-   | é só clicar nele e seguir os passos :)

    //- div.faded(style="margin-top: 30px;")
    //-   | em breve publicaremos a extensão para
    //-   b &nbsp;Firefox&nbsp;
    //-   | e o aplicativo para <b>Android</b>
    //-   br
    //-   br
    //-   | translation will be launched soon, sorry :/

