div
  div.alert.alert-warning
    h2 {{ message }}

#topchat
  div(style="margin-top:20px;margin-bottom:40px;text-align:center")
    button.q-button.q-button-primary.button-large(ng-click="do()")
      i.fa.fa-bolt.spaced
      | criar imagem
    .clearfix
  div
    .q-u-lg-1-4.q-u-md-1-3.q-u-sm-1-2.user-box(ng-repeat="thread in threads | orderBy:'-message_count'", ng-click="remove(thread)")
      .container
        .image
          div.delete-thread
            i.fa.fa-trash
          img.rounded-pic(ng-src="{{'//graph.facebook.com/' + thread.target.fbid + '/picture'}}")
        .infos
          .name
            | {{ thread.target.name }}
          .counter
            | {{ thread.message_count | plural:['%s mensagem', '%s mensagens'] }}
        .clearfix

  div(ng-if="deletedThreads.length")
    h2 removidos

    .q-u-lg-1-4.q-u-md-1-3.q-u-sm-1-2.user-box(ng-repeat="thread in deletedThreads", ng-click="undoRemove(thread)")
      .container
        .image
          div.delete-thread
            i.fa.fa-undo
          img.rounded-pic(ng-src="{{'//graph.facebook.com/' + thread.target.fbid + '/picture'}}")
        .infos
          .name
            | {{ thread.target.name }}
          .counter
            | {{ thread.message_count | plural:['%s mensagem', '%s mensagens'] }}
        .clearfix


.alert.alert-primary.faded(style="margin-top:20px;")
  p você pode remover os amigos da lista clicando neles