div(style="margin-top:20px;")
  .alert.alert-primary
    i.fa.fa-info
    b &nbsp; agora você pode editar sua imagem \o/, clique em quem você quiser e arraste :D 
    b você também pode editar o titulo clicando duas vezes em "esses são os amigos com quem mais converso"
    b , desenhar clicando em "desenhar", e remover apertando a tecla
    kbd delete
    b ou
    kbd del
    b quando um objeto estiver selecionado

topchat(threads='threads')