div(ng-show="message")
  div.alert.alert-warning
    h2 {{ message }}

div(ng-if="fatalError")
  div.alert.alert-error.text-center
    h2 {{ fatalError }}



#topchat(ng-if="!fatalError && show")
  div.topchat-topbar(style="margin-top:20px;margin-bottom:40px;text-align:center")
    form.q-form(style="display:inline-block")
      select(ng-model="maxFriends")
        option(value="10") 10 amigos
        option(value="15") 15 amigos
        option(value="20") 20 amigos
        option(value="25") 25 amigos
    label(style="display:inline-block;vertical-align:middle")
      span(style="display:inline-block;vertical-align:middle;margin-left:5px;") encurtar numeros
      input.q-switch.green.bigswitch(type='checkbox', ng-model="shortNumbers", ng-change="toggleShortNumbers()")
      div
        div
    .clearfix
  div.topchat-topbar(style="margin-top:20px;margin-bottom:40px;text-align:center")
    button.q-button.q-button-primary.button-large(ng-click="do()")
      i.fa.fa-star.spaced
      | criar top
    button.q-button.q-button-primary.button-large(ng-click="doOld()")
      i.fa.fa-star.spaced
      | criar top à moda antiga
  div
    .q-u-lg-1-4.q-u-md-1-3.q-u-sm-1-2.user-box(ng-repeat="thread in threads | orderBy:'-message_count'", ng-click="remove(thread)")
      .container
        .image
          div.delete-thread
            i.fa.fa-trash
          img.rounded-pic(ng-src="{{'//graph.facebook.com/' + thread.target.fbid + '/picture'}}", width="50")
        .infos
          .name
            | {{ thread.target.name }}
          .counter
            | {{ thread.message_count | plural:['%s mensagem', '%s mensagens'] }}
        .clearfix

  div(ng-if="deletedThreads.length")
    h2 removidos

    .q-u-lg-1-4.q-u-md-1-3.q-u-sm-1-2.user-box(ng-repeat="thread in deletedThreads", ng-click="undoRemove(thread)")
      .container
        .image
          div.delete-thread
            i.fa.fa-undo
          img.rounded-pic(ng-src="{{'//graph.facebook.com/' + thread.target.fbid + '/picture'}}")
        .infos
          .name
            | {{ thread.target.name }}
          .counter
            | {{ thread.message_count | plural:['%s mensagem', '%s mensagens'] }}
        .clearfix


  .alert.alert-primary.faded(style="margin-top:40px;")
    p você pode remover os amigos da lista clicando neles